<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Htmx simple websocket example</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/ws.js"></script>
</head>
<body>

<div hx-ext="ws" ws-connect="/my-websocket-endpoint">
  Notificaciones:
    <p/>
  <div id="notificaciones"></div>
  </p>
  <form ws-send hx-posted="javascript:this.reset();">
    <input type="search" name="country">
  </form>
</div>

</body>
</html>
